* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input {
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.logo_login{
    height: 7rem;
    margin-top: auto;
}

.entrar button {
    height: 4rem;
    width: 15rem;
    margin: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.8rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    text-transform: uppercase;
}

.entrar button:hover {
    background-color: rgb(21, 109, 109);
}

.senha_e_conta a {
    text-decoration: none;
    color: rgb(39, 189, 189);
    text-align: center;
    transition: color 0.5s;
    font-family: Arial;
    margin: 1rem;
}

.senha_e_conta a:hover {
    color: rgb(255, 255, 255);
}



    /* Esqueci a senha */
.form_login_senha{
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_senha{
    height: 7rem;  
}

#redefinir_senha{
    font-family: Arial;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
}

.login_senha input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    
}

.concluir button {
    height: 4rem;
    width: 15rem;
    margin: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.8rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    text-transform: uppercase;
}

.concluir button:hover {
    background-color: rgb(21, 109, 109);
}


.voltar_senha{
    position: absolute;
    width: 4%;
    height: 8.5%;
    top: 15%;
    left: 32%;
    background: #5061F6;
    border-radius: 30px;
    
}



    /* Criar conta */

.fundo_tipo_cadastro{
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_usuario{
    height: 10rem;
}

.user a {
    font-family: Arial;
    text-decoration: none;
    color: rgb(39, 189, 189);
    text-align: center;
    margin: 1rem;
    
}

.user a:hover {
    color: rgb(255, 255, 255);
    transition: color 0.5s;
}


.voltar_usuario a {
    font-family: Arial;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-weight: 100%;
    font-size: 100%;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

