* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(62.74deg, #171717 1.21%, #232323 39.95%, #4A4A4A 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.login input {
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.logo_login{
    position: relative;
    height: 8rem;
    top: 3%;
}

.entrar_login button {
    height: 4rem;
    width: 13rem;
    margin: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    text-transform: uppercase;
}

.entrar_login button:hover {
    background-color: rgb(21, 109, 109);
}

.senha_e_conta a {
    text-decoration: none;
    color: rgb(39, 189, 189);
    text-align: center;
    transition: color 0.5s;
    font-family: Arial;
    margin: 2rem;
}

.senha_e_conta a:hover {
    color: rgb(255, 255, 255);
}



    /* Esqueci a senha */

.form_login_senha{
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.voltar_senha{
    position: absolute;
    width: 4%;
    height: 8.5%;
    top: 15%;
    left: 32%;
    background: #50C7F6;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.logo_senha{
    height: 7rem;  
}

#redefinir_senha{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
}

.login_senha input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.concluir button {
    height: 4rem;
    width: 14rem;
    margin: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    text-transform: uppercase;
}

.concluir button:hover {
    background-color: rgb(21, 109, 109);
}



    /* Tipo de usuario */

.fundo_tipo_cadastro{
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.logo_usuario{
    position: absolute;
    height: 3rem;
    top: 15%; 
}

.tipo_de_usuario a {
    font-family: Arial;
    text-decoration: none;
    text-align: center;
    background-color: #50C7F6;
    color: rgb(0, 4, 255);
    border-radius: 15px;
    margin-bottom: 15px;
    padding-bottom: 3px;
    display: grid;
    margin-top: 15%;
    width: 90%;
    height: 30%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 17px;
    position: relative;
}

.tipo_de_usuario a:hover {
    color: rgb(255, 255, 255);
    transition: color 0.5s;
}

.voltar_usuario a {
    position: absolute;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    left: 47%;
    margin-top: 50px;
}

.voltar_usuario a:hover{
    color: blue;
    transition: color 0.5s;
}



    /* User Comum */

.form_cadastro_comum{
    width: 40%;
    height: 95%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}


.logo_cadastro_comum{
    position: absolute;
    height: 3rem;
    top: 5%;
}

.voltar_user_comum{
    position: absolute;
    width: 4%;
    height: 8.6%;
    top: 8%;
    left: 32%;
    background: #50C7F6;
    border-radius: 90%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#user_comum {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    position: relative;
    top: 17%;
}

.login_cadastro_comum input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.concluir_user_comum button {
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.8rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    text-transform: uppercase;
}

.concluir_user_comum button:hover {
    background-color: rgb(21, 109, 109);
}



/* User Empresarial */

.form_cadastro_empresarial {
    width: 40%;
    height: 97%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.logo_cadastro_empresarial{
    position: absolute;
    height: 2rem;
    top: 1%;
}

.voltar_user_empresarial{
    position: absolute;
    width: 4%;
    height: 8.6%;
    top: 6%;
    left: 32%;
    background: #50C7F6;
    border-radius: 90%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#user_empresarial{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    position: relative;
    top: 14%;
}

.login_cadastro_empresarial input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none; 
}

.concluir_user_empresarial button {
    height: 2rem;
    width: 9rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.6rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    top: -5px;
}

.concluir_user_empresarial button:hover {
    background-color: rgb(21, 109, 109);
}