@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(62.74deg, #171717 1.21%, #232323 39.95%, #4A4A4A 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}




/* eventos.php */

.cabecalho_eventos{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_eventos{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_eventos{
    position: absolute;
    left: 25%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;  
}

.botoes_eventos a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 100px;
}

.botoes_eventos a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.container_eventos_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa_eventos{
    border-radius: 10px;
    margin-top: 10px;
    background-color: #616363;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
}

.caixa_eventos a{  
    color: white;
    text-decoration: none;
}

.caixa_eventos a:hover {
    color: black;
    transition: color 0.5s;
}

#nome_usuario_eventos{
    color: white;
    padding: 70px;
    font-size: small;
}

#todos_os_eventos{
    color: white;
}

#nome_nenhum_evento_encontrado{
    color: white;
}




/* perfil.php */

.container_perfil{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_perfil{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_perfil{
    position: absolute;
    left: 20%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;  
}

.botoes_perfil a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 110px;
}

.botoes_perfil a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.container_perfil_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.informacoes_perfil{
    color: white;
    font-size: x-large;
    background-color: #4A4A4A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
}

#nome_informacoes_do_perfil{
    padding: 10px;
}

.dados_perfil{
    padding: 10px 20px;
}

.editar_informações{
    text-align: center;
    margin-top: 30px;
}

.editar_informações a{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
    
.editar_informações a:hover {
    color: blue;
    transition: color 0.5s;
}




/* eventos_criados.php */

.cabecalho_eventos_criados{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_eventos_criados{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_eventos_criados{
    position: absolute;
    left: 45%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;  
}

.botoes_eventos_criados a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 100px;
}

.botoes_eventos_criados a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.container_eventos_criados {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.informacoes_eventos_criados{
    font-size: larger;
    background-color: #50C7F6;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}

.caixa_eventos_criados {
    background-color: #616363;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    all: unset;
}

.caixa_eventos_criados a{  
    color: white;
    text-decoration: none;
}

.caixa_eventos_criados a:hover {
    color: black;
    transition: color 0.5s;
}

.eventos_criados a:hover {
    color: black;
    transition: color 0.5s;
}

#nome_eventos_criados{
    color: white;
    align-items: center;
}




/* criar_eventos.php */

.cabecalho_criar_eventos{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_criar_eventos{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_criar_evento{
    position: absolute;
    left: 25%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px; 
}

.botoes_criar_evento a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 100px;
}

.botoes_criar_evento a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.cabecalho_criar_eventos_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 130%; 
}

.caixa_criar_eventos{
    color: white;
    font-size: medium;
    background-color: #4A4A4A;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
}

.informacoes_criar_eventos input{
    width: 13rem;
    margin: 0.3rem;
    height: 1rem;
    border-radius: 1rem;
    padding: 0.8rem;
    border: none;
}

.informacoes_criar_eventos {
    text-align: start;
 }

#nome_criar_evento{
    padding: 5px;
    font-size: 200%;
}

.botao_criar_evento{
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.botao_criar_evento button{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: medium;
    text-decoration: none;
    margin-top: 1px;
}
    
.botao_criar_evento button:hover {
    color: blue;
    transition: color 0.5s;
}

#nome_evento_criado{
    padding: 10px;
}

.voltar_criar_eventos{
    text-align: center;
    padding: 5px;
}

.voltar_criar_eventos a{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
    
.voltar_criar_eventos a:hover {
    color: blue;
    transition: color 0.5s;
}




/* editar_perfil.php */

.container_editar_perfil{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between; 
}

.botoes_editar_perfil{
    position: absolute;
    left: 20%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;   
}

.botoes_editar_perfil a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 110px;
}

.botoes_editar_perfil a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.salvar_voltar{
    text-align: center;
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
}

.salvar_voltar button{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: medium;
    text-decoration: none;
}
    
.salvar_voltar button:hover {
    color: blue;
    transition: color 0.5s;
}

.container_editar_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 200%;
}

.caixa_editar_perfil{
    color: white;
    font-size: x-large;
    background-color: #4A4A4A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
}

#nome_editar_informacoes_perfil{
    padding: 10px;
    
}

.editar_informacoes_perfil input{
    width: 15rem;
    margin: 0.3rem;
    height: 2.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}




/* info_evento.php */

.container_info_evento{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between; 
}

.logo_info_evento{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_info_evento{
    position: absolute;
    left: 25%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;   
}

.botoes_info_evento a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 100px;
}

.botoes_info_evento a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.container_info_evento_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
    margin-top: 120px;
}

.caixa_info_evento{
    width: 50%;
    color: white;
    font-size: large;
    background-color: #4A4A4A;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
}

.caixa_info_evento_2{
     font-size: large;
}

.botoes_caixa_info_evento{
    padding: 3px;
}

.botoes_caixa_info_evento a{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
    
.botoes_caixa_info_evento a:hover {
    color: blue;
    transition: color 0.5s;
}

.botoes_caixa_info_evento button{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 1px 5px;
    border-radius: 1px;
    font-size: 15px;
    text-decoration: none;
}
    
.botoes_caixa_info_evento button:hover {
    color: blue;
    transition: color 0.5s;
}

.informacoes_info_evento input{
    width: 4rem;
    margin: 0.3rem;
    height: 1rem;
    border-radius: 1rem;
    padding: 0.6rem;
    border: none;
}






/* editar_evento.php */

.cabecalho_editar_evento{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_editar_evento{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_editar_evento{
    position: absolute;
    left: 25%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px; 
}

.botoes_editar_evento a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 110px;
}

.botoes_editar_evento a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.cabecalho_editar_evento_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin-top: 120px;
}

.caixa_editar_evento{
    color: white;
    font-size: large;
    background-color: #4A4A4A;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
}

.informacoes_editar_evento input{
    width: 15rem;
    margin: 0.3rem;
    height: 1rem;
    border-radius: 1rem;
    padding: 0.8rem;
    border: none;
}

.informacoes_editar_evento {
    text-align: start;
 }

.atualizar_editar_evento{
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
}

.atualizar_editar_evento button{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: medium;
    text-decoration: none;
    margin-top: 1px;
}
    
.atualizar_editar_evento button:hover {
    color: blue;
    transition: color 0.5s;
}

.excluir_editar_evento{
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
}

.excluir_editar_evento input{
    display: inline-block;
    background-color: #50C7F6;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: medium;
    text-decoration: none;
}
    
.excluir_editar_evento input:hover {
    color: blue;
    transition: color 0.5s;
}




/* loja.php */

.cabecalho_loja{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_loja{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_loja{
    position: absolute;
    left: 20%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;  
}

.botoes_loja a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 85px;
}

.botoes_loja a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.container_loja {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.informacoes_loja{
    font-size: larger;
    background-color: #50C7F6;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}

.caixa_loja{
    background-color: #616363;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    all: unset;
}

.caixa_loja a{  
    color: white;
    text-decoration: none;  
}

.caixa_loja a:hover {
    color: black;
    transition: color 0.5s;
}

#nome_usuario_eventos{
    color: white;
    padding: 70px;
    font-size: small;
}

#nome_loja{
    color: white;
    margin-top: 50%;
}

#nome_nenhum_produto_encontrado{
    color: white;
}




/* carrinho.php */

.cabecalho_carrinho{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #4e4e4e;
    border-radius: none;
    display: flex;
    flex-direction: column;
    border: 3px solid #50C7F6;
    top: -45%;
    justify-content: space-between;
}

.logo_carrinho{
    position: absolute;
    height: 100%;
    width: 5px;
    display: flex;
}

.botoes_carrinho{
    position: absolute;
    left: 25%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;  
}

.botoes_carrinho a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 100px;
}

.botoes_carrinho a:hover {
    color: #50C7F6;
    transition: color 0.5s;
}

.container_carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.conteudo_carrinho{
    font-size: larger;
    background-color: #50C7F6;
    width: 25%;
    height: 20%;
    border-radius: 5px;
}

.caixa_loja{
    background-color: #616363;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -webkit-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    -moz-box-shadow: 0px 2px 20px 10px rgba(80,199,246,0.75);
    all: unset;
}

.caixa_loja a{  
    color: white;
    text-decoration: none;  
}

.caixa_loja a:hover {
    color: black;
    transition: color 0.5s;
}

#nome_usuario_eventos{
    color: white;
    padding: 70px;
    font-size: small;
}

#nome_loja{
    color: white;
    margin-top: 50%;
}

#nome_nenhum_produto_encontrado{
    color: white;
}