* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(62.74deg, #171717 1.21%, #232323 39.95%, #4A4A4A 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* login */

.form_login {
    width: 100%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.login input {
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.logo_login{
    position: relative;
    height: 7rem;
}

.entrar_login button {
    color: black;
    height: 4rem;
    width: 13rem;
    margin: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    font-size: larger;
}

.entrar_login button:hover {
    background-color: grey;
}

.senha_e_conta a {
    text-decoration: none;
    color: rgb(39, 189, 189);
    text-align: center;
    transition: color 0.5s;
    font-family: Arial;
    margin: 2rem;
}

.senha_e_conta a:hover {
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .form_login {
        width: 80%;
    }

    .login input {
        width: 100%;
    }

    .entrar_login button {
        width: 100%;
        
    }
}

@media (max-width: 480px) {
    .form_login {
        width: 90%;
    }
}


    /* Esqueci a senha */

.form_login_senha{
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.voltar_senha{
    position: absolute;
    width: 4%;
    height: 8.5%;
    top: 15%;
    left: 32%;
    background: #50C7F6;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.logo_senha{
    height: 7rem;
}

#redefinir_senha{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
}

.login_senha input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.concluir button {
    height: 4rem;
    width: 14rem;
    margin: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    font-size: medium;
}

.concluir button:hover {
    background-color: grey;
}


@media (max-width: 768px) {
    .form_login_senha {
        width: 80%;
        height: 65%;
    }

    .voltar_senha{
        height: 60px;
        position: absolute;
        left: 7%;
        top: 19%;
    }

    #redefinir_senha {
        width: 30rem;
    }

    .login_senha input {
        width: 25rem;
    }

    .concluir button {
        width: 12rem;
    }
}

@media (max-width: 480px) {
    .form_login_senha {
        width: 90%;
    }

    .voltar_senha{
        width: 4rem;
    }

    #redefinir_senha {
        width: 20rem;
    }

    .login_senha input {
        width: 18rem;
    }

    .concluir button {
        width: 10rem;
    }
}



    /* Tipo de usuario */

.fundo_tipo_cadastro{
    width: 40%;
    height: 80%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.logo_usuario{
    position: absolute;
    height: 3rem;
    top: 15%; 
}

.tipo_de_usuario a {
    font-family: Arial;
    text-decoration: none;
    text-align: center;
    background-color: #50C7F6;
    color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-bottom: 3px;
    display: grid;
    margin-top: 15%;
    width: 90%;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 17px;
    position: relative;
}

.tipo_de_usuario a:hover {
    color: grey;
    transition: color 0.5s;
}

.voltar_usuario a {
    position: absolute;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    left: 47%;
    margin-top: 50px;
}

.voltar_usuario a:hover{
    color: #50C7F6;
    transition: color 0.5s;
}


@media (max-width: 768px) {
    .fundo_tipo_cadastro {
        width: 80%;
        height: 60%;

    }

    .logo_usuario{
        position: absolute;
        top: 25%;
    }

    .voltar_usuario a {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 70px;
    }
}

@media (max-width: 480px) {
    .fundo_tipo_cadastro {
        width: 90%;
    }
}



    /* Usuário Pessoal */

.form_cadastro_pessoal{
    width: 40%;
    height: 95%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}


.logo_cadastro_pessoal{
    position: absolute;
    height: 3rem;
    top: 3%;
}

#cadastro_pessoal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    position: relative;
    top: 15%;
}

.login_cadastro_pessoal input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.concluir_cadastro_pessoal button {
    color: white;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.8rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    font-size: 15px;
}

.concluir_cadastro_pessoal button:hover {
    background-color: grey;
}

.voltar_cadastro_pessoal{
    position: absolute;
    width: 4%;
    height: 8.6%;
    top: 8%;
    left: 32%;
    background: #50C7F6;
    border-radius: 90%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

@media (max-width: 768px) {
    .form_cadastro_pessoal {
      width: 90%;
    }
  
    #usuario_pessoal {
      width: 100%;
    }
  
    .login_cadastro_pessoal input {
      width: 100%;
    }
  
    .concluir_usuario_pessoal button {
      width: 100%;
    }
  
    .voltar_usuario_pessoal {
      top: 2%;
      left: 80%;
      width: 10%;
      height: 6%;
    }
  }



/* Usuário Empresarial */

.form_cadastro_empresarial {
    width: 40%;
    height: 97%;
    background-color: #4e4e4e;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #50C7F6;
}

.logo_cadastro_empresarial{
    position: absolute;
    height: 2rem;
    top: 1%;
}

#cadastro_empresarial{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 40rem;
    height: 3.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    position: relative;
    top: 14%;
}

.login_cadastro_empresarial input{
    width: 30rem;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none; 
}

.concluir_cadastro_empresarial button {
    color: white;
    height: 2rem;
    width: 8rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.6rem;
    background-color: rgb(39, 189, 189);
    transition: 0.1s;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    top: -7px;
}

.concluir_cadastro_empresarial button:hover {
    background-color: grey;
}

.voltar_cadastro_empresarial{
    position: absolute;
    width: 4%;
    height: 8.6%;
    top: 6%;
    left: 32%;
    background: #50C7F6;
    border-radius: 90%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}


@media (max-width: 768px) {
    .form_cadastro_empresarial {
      width: 90%;
      height: auto;
    }
  
    .logo_cadastro_empresarial {
      top: 2%;
      height: 1.5rem;
    }
  
    #usuario_empresarial {
      width: 100%;
      font-size: 1.5rem;
      margin-bottom: 3rem;
      top: 10%;
    }
  
    .login_cadastro_empresarial input {
      width: 100%;
    }
  
    .concluir_usuario_empresarial button {
      width: 100%;
      height: 3rem;
      font-size: 1rem;
      margin-bottom: 2rem;
      top: 0;
    }
  
    .voltar_usuario_empresarial {
      top: 2%;
      left: 80%;
      width: 10%;
      height: 6%;
    }
  }